/*navigation bar for all 3 pages*/
#main-navbar {
  background-color: blue;
  overflow: hidden;
  /*position: relative;*/
  /*display: block;*/
}

#navbar-container {
  position: relative;
  width: 100%;
  float: left; 
}

#navbar-container ul {
  position: relative; 
  margin: 0; 
  padding: 0; 
  left: 50%
  float: left;
  list-style-type: none;
}

#navbar-container ul li{
  position: relative; 
  float: left;
  background-color: #000;
  right: 50%; 
  display: block;
}

#navbar-container ul li a {  
  color: #fff; 
  display: block;
  text-decoration: none;
  padding: 10px 20px; 
}
  
#navbar-container #onpage a {
  text-decoration: underline overline;
}

#sidebar {
  background-color: red; 
  width: 20%;
  height: 100%; 
  right:0%; 
  position: fixed; 
}

#sidebar ul {
  padding: 0;
  text-align: center; 
  list-style-type: none; 
}

#sidebar ul li {

}

#sidebar ul li a {
  color: #fff; 
  text-decoration: none; 
  display: block;
  padding: 15px 0;
  background-color: #000;
}


/*For sidebar


*/

/*For navigation

background-color: blue; 
overflow: hidden;
width: 100%;
position: relative; 
position: relative; 
position: relative; 
list-style-type: none; 
margin: 0;
padding: 0;
left: 50%;
float: left;
float: left;
float: left;
right: 50%;
display: block;
display: block;
padding: 10px 20px;
color: #fff;
text-decoration: none; 
background-color: #000; 
text-decoration: underline overline;

*/
