/*navigation bar for all 3 pages*/
#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#main-navbar ul {
  position: relative; 
  margin: 0; 
  padding: 0; 
  left: 50%;
  float: left;
  list-style-type: none;
}

#navbar-container {
  position: relative;
  width: 100%;
  float: left; 
}

#main-navbar ul li {
  position: relative; 
  float: left;
  background-color: #000;
  right: 50%; 
  display: block;
}

#main-navbar ul li a {  
  color: #fff; 
  display: block;
  text-decoration: none;
  padding: 10px 20px; 
}
  
#navbar-container #onpage a {
  text-decoration: underline overline;
}

#sidebar {
  background-color: red; 
  width: 20%;
  height: 100%; 
  right:0%; 
  position: fixed; 
}

#sidebar ul {
  padding: 0;
  text-align: center; 
  list-style-type: none; 
}

#sidebar ul li {

}

#sidebar ul li a {
  color: #fff; 
  text-decoration: none; 
  display: block;
  padding: 15px 0;
  background-color: #000;
}

